{% extends "PrincipalBundle:Templates:layout1.html.twig" %}
{% block title %}
Primera pagina
{% endblock %}
{% block body %}
<div class="container">
<h1>Bienvenido a productos {{name}}</h1>
</div>
{% endblock %}
